$def with (n, l, err=None)   
$#n = number of subjects, l=list of grade names 
<!DOCTYPE HTML>
<html>
    <head>
        <title> Update score log </title>
	<link rel="stylesheet" type="text/css" href="formStyle.css">
    </head>
    
    <body>
	
	<h1>Calculate your GPA (/4.3)</h1>
	$if err:
	    <p style="color:red"> $err </p>
	</br>
	<form action="/update" method="POST">
	    $for i in range(1,n+1):
	        Subject $i:
                <input name="score" type="text" autocomplete="off">
	        </br></br>
	    </br>
	    <input id = "opt" type="submit" value="Update"> <a href="/"><input id="opt" type="button" value="Cancel"></a>
	</br>
	</br>
    </body>
</html>
